.container {
  --align-items: flex-end;
  --color: inherit;
  --text-pad: 80px;
  --text-pad-left: 0;
  --text-pad-right: var(--text-pad);
  --prompt-opacity: 0;
  --prompt-text-offset: 20px;
  --prompt-transition-speed: 250ms;

  display: flex;
  flex-flow: column nowrap;
  align-items: var(--align-items);
  font-size: var(--type-size-2);
  color: var(--color);
  transition: color 250ms linear;
}

.container:not(:last-child) {
  margin-bottom: 85px;
}

.container.reverse {
  --align-items: flex-start;
  --text-pad-left: var(--text-pad);
  --text-pad-right: 0;
}

.container:hover {
  --color: var(--theme-primary);
  --prompt-opacity: 1;
  --prompt-text-offset: 0px;
}

.thumbnail {
  width: 120%;
  position: relative;
  margin-bottom: 35px;
}

.prompt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: var(--prompt-opacity);

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

  font-weight: bold;
  text-transform: uppercase;

  background-image: linear-gradient(
    to bottom,
    rgba(var(--color-blue-rgb), 0.5),
    rgba(var(--color-yellow-rgb), 0.5)
  );
  color: var(--theme-foreground);

  pointer-events: none;

  transition: opacity var(--prompt-transition-speed) linear;
}

.prompt__text {
  transform: translateY(var(--prompt-text-offset));
  transition: transform var(--prompt-transition-speed) ease;
}

.image {
  width: 100%;
  display: block;
}

.title,
.client {
  padding-left: var(--text-pad-left);
  padding-right: var(--text-pad-right);
}

.title {
  font-weight: bold;
  margin-bottom: 15px;
}
