.button {
  --color: inherit;
  --opacity: 1;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  opacity: var(--opacity);
  color: var(--color);
  font-size: var(--type-size-2);
  font-weight: bold;
  cursor: pointer;
  transition: color 250ms linear;
}

.button:hover {
  --color: var(--theme-primary);
}

.button[disabled] {
  --opacity: 0.5;
}

.icon {
  margin-right: 18px;
}

.icon,
.text {
  transition: transform 500ms ease;
}

.button:hover .text {
  transform: translateX(10px);
}
