:root {
  /* Colors */
  --color-black: #222;
  --color-gray: #4A4A4A;
  --color-white: #fff;
  --color-blue: #00CECB;
  --color-blue-rgb: 0, 207, 204;
  --color-yellow: #D7CD52;
  --color-yellow-rgb: 215, 205, 82;
  --color-pink: #FF9B9B;

  /* Theme */
  --theme-background: var(--color-black);
  --theme-foreground: var(--color-white);
  --theme-primary: var(--color-blue);
  --theme-error: var(--color-pink);
  --theme-outline:
     -1px -1px 0 var(--theme-foreground),
      1px -1px 0 var(--theme-foreground),
      -1px 1px 0 var(--theme-foreground),
       1px 1px 0 var(--theme-foreground);

  /* Typography */
  --type-family: 'Manrope';
  --type-family-logo: 'Lovelo';
  --type-size-1: 14px;
  --type-size-2: 16px;
  --type-size-3: 27px;
  --type-size-4: 35px;

  /* Layout */
  --layout-max-width: 940px;
  --layout-gutter: 15px;
  --layout-column-count: 12;
  --layout-header-height: 100px;
}

@media (min-width: 1024px) {
  :root {
    --type-size-1: 16px;
    --type-size-2: 24px;
    --type-size-3: 36px;
    --type-size-4: 54px;
  }
}

@font-face {
  font-family: 'Manrope';
  src: url('../../assets/fonts/manrope-light.woff2') format('woff2'),
       url('../../assets/fonts/manrope-light.woff') format('woff'),
       url('../../assets/fonts/manrope-light.otf') format('truetype');
}

@font-face {
  font-family: 'Manrope';
  font-weight: bold;
  src: url('../../assets/fonts/manrope-bold.woff2') format('woff2'),
       url('../../assets/fonts/manrope-bold.woff') format('woff'),
       url('../../assets/fonts/manrope-bold.otf') format('truetype');
}

@font-face {
  font-family: 'Lovelo';
  src: url('../../assets/fonts/lovelo.woff2') format('woff2'),
       url('../../assets/fonts/lovelo.woff') format('woff'),
       url('../../assets/fonts/lovelo.otf') format('truetype');
}

body {
  font-family: var(--type-family), 'Helvetica', 'Arial', sans-serif;
  font-size: var(--type-size-1);
  line-height: 1;
  background: var(--theme-background) url('../../assets/images/background.png') top left repeat;
  color: var(--theme-foreground);
  overflow-x: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  line-height: inherit;
  font-size: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: inherit;
}

button {
  appearance: none;
  background: transparent;
  border: 0;
  outline: none;
  color: inherit;
}
