.container {
  --input-border-width: 1px;
  --input-padding-left: 16px;
  --input-height: 47px;
  --input-line-height: var(--input-height);
  --input-padding-top: 0;

  margin-bottom: 25px;
}

.container.multiline {
  --input-height: 175px;
  --input-line-height: 1.5;
  --input-padding-top: 11px;
}

.label {
  display: block;
  margin-bottom: 16px;
}

.input {
  --border-color: var(--color-white);

  width: 100%;
  height: var(--input-height);
  line-height: var(--input-line-height);
  border: var(--input-border-width) solid var(--border-color);
  transition: border 250ms linear;
  background: var(--theme-background);
  outline: none;
  color: var(--theme-foreground);
  padding-left: var(--input-padding-left);
  padding-top: var(--input-padding-top)
}

.hasError .input {
  --border-color: var(--theme-error);
}

.input:focus {
  --border-color: var(--theme-primary);
}

.error {
  margin-top: 14px;
  padding-left: calc(var(--input-border-width) + var(--input-padding-left));
  color: var(--theme-error);
}
